@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Create Label</h1>
 <form class="" asp-controller="User" asp-action="AddUser" method="post">
<div class="">
    <div class="ibox-content">
        <div id="country-form">
            <div class="row mt-4 align-items-center">
                <div class="col-md-4 text-right">
                    <h4>Item Code</h4>
                </div>
                <div class="col-md-4 text-center">
                    <input id="item-code-input" type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-md-4 text-right">
                    <h4>Item Name</h4>
                </div>
                <div class="col-md-4 text-center">
                    <input id="item-name-input" type="text" class="form-control" placeholder="" readonly>
                </div>
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-md-4 text-right">
                    <h4>Lot No</h4>
                </div>
                <div class="col-md-4 text-center">
                    <input id="lot-no-input" type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-md-4 text-right">
                    <h4>Qty</h4>
                </div>
                <div class="col-md-4 text-center">
                    <input id="qty-input" type="text" class="form-control" placeholder="">
                </div>
                <span>
                    pcs.
                </span>
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-md-4 text-right">
                    <h4>Label Qty</h4>
                </div>
                <div class="col-md-4 text-center">
                    <input id="label-qty-input" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="pt-4"></div>
            <div class="center d-flex justify-content-center">
                <div class="mr-2">
                    <button id="cancelBtn" type="submit" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>

                <div>
                    <button id="generateBtn" type="submit" class="btn btn-primary">
                        Generate
                    </button>
                </div>
            </div>
            <div class="pt-2"></div>
        </div>
    </div>
    <br />

</div>
</form>


@section Scripts{

    <script>
        $(document).ready(function () {
            // Event listener for item code input
            $("#item-code-input").on("input", function () {
                var itemCode = $(this).val(); // Get the entered item code

                // Make an AJAX request to fetch the item name based on the item code
                $.ajax({
                    url: '@Url.Action("GetItemDetailById", "Quotation")',  // Replace with your server route to fetch item name
                    type: "POST",
                    data: { itemCode: itemCode },
                    success: function (response) {
                        // Update the item name input field with the fetched item name
                        $("#item-name-input").val(response.itemName);
                    },
                    error: function () {
                        // Handle errors if necessary
                        console.log("Error fetching item name");
                    },
                });
            });

            
        });

    </script>

 }