@model QuotationSystem.Models.User.UserViewModel
@{
}
<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" asp-controller="User" asp-action="EditUser" method="post">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Edit User</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column" style="gap:.5rem">
                    <div class="row">
                        <div class="col-3">
                            <div>User ID:</div>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" asp-for="User.UserId" value="@Model.User.UserId" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div>Name:</div>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" asp-for="User.UserName" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div>Department:</div>
                        </div>
                        <div class="col">
                            <select asp-for="User.DepartmentId" asp-items="Model.DepartmentIds" class="form-control" required>
                                <option value="">-Select-</option>
                            </select>
                            @*<input class="form-control" type="text" asp-for="User.DepartmentId"/>*@
                        </div>
                    </div>
                    @{
                        var isActive = Model.User.ActiveStatus == "Y" ? true : false;
                        Model.User.ActiveStatus = null;//set null to avoid error from asp-for expecting boolean but User.ActiveStatus is string
                    }
                    <div class="row">
                        <div class="col-3">
                            <div>Active:</div>
                        </div>
                        <div class="col">
                            <input class="form-check-label" type="checkbox" value="Y" checked='@isActive' asp-for="User.ActiveStatus"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div>Permission Menu:</div>
                        </div>
                        @{ 
                            bool userManagement = Model.User.MUserPermissions.Any(p => p.MenuId == "USS010" && p.ActiveStatus == "Y");
                        }
                        <div class="col">
                            <div class="d-flex flex-column" style="gap:.5rem">
                                <div class="form-check">
                                    <input class="form-check-input" id="UserManagement" type="checkbox" value="USS010" name="permissions" checked='@userManagement' />
                                    <label class="form-check-label" for="UserManagement">User Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="ItemManagement" type="checkbox" value="ITS010" name="permissions" checked='@Model.User.MUserPermissions.Any(p => p.MenuId == "ITS010" && p.ActiveStatus == "Y")' />
                                    <label class="form-check-label" for="ItemManagement">Item Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="QTS020" name="permissions" checked='@Model.User.MUserPermissions.Any(p => p.MenuId == "QTS020" && p.ActiveStatus == "Y")' />
                                    <label class="form-check-label" for="QuotationManagement">Quotation Management</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>