@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuotationSystem.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Login";
}
<form class="d-flex flex-column p-5" style="gap: 1rem;" asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="row">
        <div class="col-3">
            <p>Current Password</p>
        </div>
        <div class="col w-100">
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <p>New Password</p>
        </div>
        <div class="col w-100">
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <p>Confirm New Password</p>
        </div>
        <div class="col w-100">
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col">
            <div class="d-flex">
                <button asp-page="" class="btn">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

