@model QuotationSystem.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-3">

    <div class="d-flex flex-column" style="gap:2rem;">
        <!--summary card-->
        <div class="d-flex flex-column">
            <div class="row" style="gap:1rem;">
                <div class="col bg-success">
                    <div class="d-flex flex-column text-right">
                        <h2>Quotation Today</h2>
                        <h1 class="m-2 font-weight-bolder" id="quotationToday">@Model.TodayCount</h1>
                    </div>
                </div>

                <div class="col bg-primary">
                    <div class="d-flex flex-column text-right">
                        <h2>Quotation Weekly</h2>
                        <h1 class="m-2 font-weight-bolder">@Model.WeeklyCount</h1>
                    </div>
                </div>

                <div class="col bg-warning">
                    <div class="d-flex flex-column text-right">
                        <h2>Quotation Monthly</h2>
                        <h1 class="m-2 font-weight-bolder">@Model.MonthlyCount</h1>
                    </div>
                </div>
            </div>
        </div>

        <!--table-->
        <div class="ibox-content">
            <div class="table-responsive">
                <table id="home-table" class="table table-bordered table-hover table-striped w-100"></table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        let table;
        $(document).ready(function () {

        });

        let colOptions = [
            { "title": "No", render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1, className: "text-center" },
            { "title": "Date", data: "quotationDate", className: "text-center text-nowrap" },
            { "title": "Quotation No.", data: "quotationNo", className: "text-center text-nowrap" },
            { "title": "Customer", data: "customerName", className: "text-center text-nowrap" },
            { "title": "Seller", data: "seller", className: "text-center text-nowrap" },
            { "title": "Total", data: "total", className: "text-center text-nowrap", render: $.fn.dataTable.render.number(',', '.', 2, '฿') },
            { "title": "Grand Total", data: "grandTotal", className: "text-center text-nowrap", render: $.fn.dataTable.render.number(',', '.', 2, '฿') },
            { "title": "Status", data: "activeStatus", className: "text-center text-nowrap", render: (data) => data === "Y" ? '<span class="label label-primary">active</span>' : '<span class="label label-danger">inactive</span>' }
        ]

        table = $('#home-table').DataTable({
            "processing": true,
            "serverSide": true,
            "bLengthChange": false,
            "bFilter": true,
            "searching": false,
            "pageLength": 20,
            "displayStart": 0,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetTodayQuotation")",
                "type": "POST",
                "data": (opt) => {
                    return opt;
                }
            },
            "columns": colOptions
        });

        function renderStatus(){
            if(data == "Y"){
                return "Active";
            }
        }
    </script>
}